header{
    text-align: center;
    background-color: antiquewhite;
    font-size: 60px;
}

h1{
    font-size: 20px;
    width: 80%;
    color:white;
}

.container{
    position: absolute;
    width:100vw;
    height:100vh;
}

 .Seat{
    position: absolute;
    left:23%;
    top: 10vh;
    padding: 10px;
    background-color: #76777a;
    width: max-content;
    padding-bottom: 5%;
    border-radius: 20px;
    align-items: center;
} 
form{
    position: relative;
    display: flex;
    flex-direction: row;
}


.row{
    margin-top:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont {
    top: 5%;
    left:10%;
    display: block;
    position: relative;
    padding-left: 65px;
    margin-right: 20px;
    margin-bottom: 100px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cont input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 55px;
    width: 55px;
    background-color: white;
    border-radius: 7px;
    text-align: center;    
}

.cont:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .cont input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .cont input:checked ~ .checkmark:after {
    
  }
  
  .cont .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }